body {
  background-color: #e5d1ff;

  font-size: 14px;

  color: #333;
  margin: 0;
  margin: 40px;
}

h1 {
  font-size: 86px;
  font-family: Babylonica, serif;
  text-align: center;
  margin-bottom: 0px;
}

h2 {
  font-size: 28px;
  text-align: center;
  margin-top: 0px;
}

p {
  line-height: 1.6;
  background-color: blanchedalmond;
  padding: 15px;
  border: 1px dashed black;

  border-radius: 20px;
}

img {
  width: 100%;
}

ul li {
  line-height: 2;
  list-style-type: circle;
}

nav a {
  width: 100px;
  padding: 10px;
  margin: 5px;
  display: inline-block;
  color: rgb(42, 24, 24);
  font-weight: bold;
  border: 1px solid rgb(42, 24, 24);
  text-align: center;
  background: rgb(237, 192, 192);
}
